<div class="index">
  <div class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Task app</h1>
      <h3 class="mb-5">
        <em>Store your tasks</em>
      </h3>
      <a href="/auth/signup" class="btn btn-primary">Let's get started</a>
    </div>
  </div>
</div>